@font-face {
  font-family: 'TBCX';
  src: url('fonts/TBCX-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TBCX';
  src: url('fonts/TBCX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TBCX';
  src: url('fonts/TBCX-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TBCX';
  src: url('fonts/TBCX-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TBCX';
  src: url('fonts/TBCX-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'TBCX', sans-serif;
  padding-top: 79px;
  line-height: 1.7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 79px;
    border-bottom: 1px solid #eef1f1;
    padding-left:47px;
    padding-right:47px;
}

.header_container{
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 32px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
}
nav li{
    list-style: none;
    cursor: pointer;
}

.search-link-multiLang_container {
  display: flex;
  gap: 16px;
  align-items: center;
  line-height: 1.4;
}

.search {
  padding: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: filter 0.3s;
}

.search img {
  transition: filter 0.3s;
  filter: invert(35%) sepia(12%) saturate(328%) hue-rotate(147deg) brightness(97%) contrast(91%);
}

.search:hover img {
  cursor: pointer;
  filter: invert(39%) sepia(93%) saturate(3863%) hue-rotate(174deg) brightness(93%) contrast(95%); /* Change filter color on hover */
}

.search-link-multiLang_container a {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  color: #182cc0;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
}

.search-link-multiLang_container a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s; 
  z-index: -1;
}

.search-link-multiLang_container a:hover {
  color: #3295ce;
}

.search-link-multiLang_container a:hover::after {
  opacity: 1;
}

.search-link-multiLang_container a:hover p {
  color: #3295ce;
  transition: 0.3s;
}

.search-link-multiLang_container a img {
  transition: filter 0.3s;
  filter: invert(19%) sepia(98%) saturate(4700%) hue-rotate(236deg) brightness(74%) contrast(105%);
}

.search-link-multiLang_container a:hover img {
  filter: invert(39%) sepia(93%) saturate(3863%) hue-rotate(174deg) brightness(93%) contrast(95%);
}

.search-link-multiLang_container p {
  margin-top: 2px;
}


/* main */

.get-app_container h5{
  display: none;
}

.swiper-slide {
  overflow: hidden; 
  position: relative;
}

.swiper-slide:hover{
  cursor: pointer;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);
  transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
}

.main_container >div:first-child{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 12px;
}
.main_container >div:first-child span{
  font-weight: 700;
  color: #555f62;
}

.main_container > div:first-child{
  display: flex;
  gap: 10px;
}

.image-container {
  position: relative;
  overflow: hidden; 
  height: 213px;
}

.image-container img {
  object-fit: cover;
  transition: transform 0.5s ease;
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: -5px; 
}

.swiper-slide:hover .image-container img {
  transform: translateY(-5px);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9fafa;
}

.main_container,
.sec_main_container{
    max-width: 1204px;
    width: 100%;
    padding-left: 47px;
    padding-right: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main_container > span{
    color: #141719;
    font-weight: 500;
    padding: 24px 0;
    font-size: 12px;
    display: block;
}

.main_banner {
  position: relative;
  border-radius: 6px;
  background-image: url("./images/background_image-I.png");
  background-size: cover;
  background-position: center; 
  padding: 80px;
  margin-top: 32px;
  margin-bottom: 60px;
  overflow: hidden; 
}

.main_banner div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: fit-content;
}

.main_banner h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
}

.main_banner p{
    font-size: 12px;
    color: white;
    max-width: 440px;
    line-height: 1.7;
}

.main_banner a {
  height: 50px;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 12px;
  gap: 6px;
  border-radius: 4px;
  color: white;
  max-width: fit-content;
  position: relative; /* Add this */
  overflow: hidden; /* Add this to hide overflow of ::after */
  z-index: 1; /* Ensure the content is above the ::after element */
  transition: background-image 0.3s; /* You can keep this or remove it */
}

.main_banner a::after {
  content: "";
  position: absolute; /* Change to absolute */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  height: 100%; 
  width: 100%; 
  background-image: linear-gradient(15deg, #3fa5e0, #3295ce);
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.main_banner a:hover::after {
  opacity: 1;
}

.main_banner a p{
  font-size: 12px;
}

.main_banner img{
    filter: invert(100%) brightness(100%) contrast(100%);
}

.main_container>p{
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
    color: #141719;
    letter-spacing: 0.3px;
    padding: 60px 0;
}

.main_container > h2{
    color: #141719;
    font-size: 24px;
    font-weight: 700;
    margin-top:60px;
    margin-bottom:36px;
}

.main-card-content {
    display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 30px ;
 margin-bottom: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 8px;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    
}

.card a{
    display: flex;
    gap: 6px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
}

.card a:hover {
  text-decoration: none;
  transition: 0.5s;
  filter: invert(0%) sepia(8%) saturate(0%) hue-rotate(144deg) brightness(80%) contrast(70%);
}

.card >a img{
    filter: invert(100%) brightness(100%) contrast(100%);
}

.card h3{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    line-height: 30px;
}


  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover::before {
    transform: scale(1.02);
  }

  .main-card-content_item-1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 256px;
  }

  .main-card-content_item-1::before {
    background-image: url('./images/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png');
  }

  .main-card-content_item-2 {
    grid-area: 2 / 1 / 3 / 2;
    height: 256px;
  }

  .main-card-content_item-2::before {
    background-image: url('./images/0m25n3qt.w03prem.png');
  }

  .main-card-content_item-3 {
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
  }

  .main-card-content_item-3::before {
    background-image: url('./images/nqeaa1rb.avl360.png');
  }

  .main-card-content_slider_container > div{
    position: relative;
    
  }

  .main-card-content_slider_container > div{
    min-height: 232px;
    max-width: 280px;
  }

  .main-card-content_slider_container > div:first-child{
    background-image: url('./images/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png');
    height: 200px;
    background-size: cover;
  }

  .main-card-content_slider_container > div:nth-child(2){
    
    background-image: url('./images/nqeaa1rb.avl360.png'); 
    background-size: cover;
  }

  .main-card-content_slider_container > div:last-child{
    background-image: url('./images/0m25n3qt.w03prem.png');
    background-size: cover;
  }

  .main-card-content_slider_container > div > div{
    display: flex;
    justify-content: flex-end;
    min-height: 232px;
    filter: invert(100%) brightness(100%) contrast(100%);
  }

  .main-card-content_slider_container h3{
    font-size: 16px;
  }

  .main-card-content_slider_container p{
    color: #fff;
  }

  .main-card-content_slider_container  a{
    display: flex;
    align-items: center;
    gap:6px ;
    text-decoration: none;
  }

  .main_numbers{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    gap: 30px;
    line-height: 1.3;
  }

  .main_numbers > div{
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
  }

  .numbers_item span{
    font-size: 44px;
    font-weight: 700;
  }
  
  .numbers_item p{
    font-size: 16px;
    color: #555f62;
    font-weight: 500;
    line-height: 1.7;
  }

  .swiper_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-top: 60px;
  }

  .swiper-wrapper{
    margin-bottom: 38px;
   }

.swiper_title a {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1.4;
  color: #182cc0;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s, filter 0.3s;
}

.swiper_title a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1; 
}

.swiper_title a:hover {
  color: #3295ce; 
}

.swiper_title a:hover::after {
  opacity: 1; 
}

.swiper_title a:hover p {
  color: #3295ce;
}

.swiper_title a img {
  transition: transform 0.3s, filter 0.3s; 
  filter: invert(19%) sepia(98%) saturate(4700%) hue-rotate(236deg) brightness(74%) contrast(105%);
}

.swiper_title a:hover img {
  filter: invert(39%) sepia(93%) saturate(3863%) hue-rotate(174deg) brightness(93%) contrast(95%);
}

.swiper_title a p {
  transition: color 0.3s;
}

.swiper_title p {
    font-size: 14px;
    font-weight: 700;
    color: #182cc0;
}

.swiper_title img {
    filter: invert(19%) sepia(98%) saturate(4700%) hue-rotate(236deg) brightness(74%) contrast(105%);
}

.swiper-slide{
  border-radius: 8px;
  border: 1px solid #e1e4e5;
  overflow: hidden;
  position: relative;
  min-height: 390px;
}

.company_title {
  position: absolute;
  width: 78px;
  height: 56px;
  background-color: #fff;
  top: 20px;
  right: 0;
  border-radius: 8px 0px 0px 8px;
  overflow: hidden;
  z-index: 10;
}

.company_title img {
  width: 78px;
  height: 56px;
}

.social_icons img:hover{
  filter: invert(12%) sepia(92%) saturate(3895%) hue-rotate(236deg) brightness(93%) contrast(105%);
}

.card_content{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px;
}

.card_content p {
  color: #6f787b;
  font-size: 12px;
  margin-bottom: 8px;
}

.card_content h3 {
  color: #141719;
  font-size: 16px;
  font-weight: 700;
}

.swiper-container {
  max-width: 1110px;
  width: 100%;
  overflow-x: auto;
  scrollbar-color: #007aff #d1d5d6;
  margin-bottom: 60px;
}

.get_app{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 120px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 60px;
}

.main-card-content_slider{
  display: none ;
}

.get-app_container{
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 32px;
}

.get-app_container > div:first-child{
  width: 55%;
}

.get-app_container p{
  color:#555f62 ;
  max-width: 610px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 14px;
}

.get-app_container a{
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
}

.get-app_container a:hover{
  background-color: #f9fafa;
  transition: 0.3s;
}

.get-app_container > div > div{
  margin-top: 8px;
  display: flex;
  gap: 16px;
  max-width:284px;
  max-height: 51px;
}

.get-app_container > div{
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.get-app_container h2{
  line-height: 1.5;
}

.card_content h3{
  line-height: 30px;
}

.products_cont h2{
    color: #141719;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
}
.slide_card{
  max-height: 450px;
  height: 100%;
}

.slide_card p{
  line-height: 1.7;
  color: #555f62;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis; 
  max-height: 7em; 
  height: auto;
}

.slide_card img{
  max-height: 250px;
}

.banner_II{
  background-image: url("./images/nvmgsymp.3xqprivate\ banker.png");
  background-size: cover;
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.awards_section >div{
  padding: 28px;
  border: none;
  background-color: white;
  min-height: 100%;
}

.awards_section >div div{
  padding: 0;
}

.awards_section >div img{
  height: 52px;
  margin-bottom: 24px;
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
  padding-left:47px;
  padding-right:47px;
}

.footer_dropdown_col > div:last-child>div>div:hover{
  background-color: #eee;
  transition: 0.3s;
}


.footer_container a:hover{
  color: #182cc0;
  cursor: pointer;
  transition: 0.3s;
}
.no_border a:hover{
  text-decoration: underline;
  color:#555f62 ;
}

.footer_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer_container{
  max-width: 1110px;
  width: 100%;
}

.footer_main{
  display: flex;
  gap: 16px;
  justify-content: space-between;
  line-height: 1.7;
}

.footer_dropdown{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  font-size: 14px;
}

.footer_dropdown h4{
  font-weight: 700;
  color: #141719;
}

.footer_dropdown a{
  color: #555f62;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact{
  margin-bottom: 8px;
}

.footer_dropdown img{
  width: 28px;
  height: 18px;
  filter: brightness(0) saturate(100%) invert(37%) sepia(3%) saturate(1186%) hue-rotate(150deg) brightness(94%) contrast(92%);
}

.footer_dropdown_col{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer_dropdown_col > div:last-child{
  display: flex;
  gap: 16px;
}

.footer_dropdown_col > div:last-child>div{
  display: flex;
  gap: 4px;
}

.footer_dropdown_col > div:last-child>div>div{
  width: 40px;
    height: 40px;
    background-color: #f9fafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.left_arrow{
  display: none;
}

.footer_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  padding:28px 0 ;
}

.footer_bottom div:first-child{
  display: flex;
  color: #555f62;
  gap: 8px;
  font-size: 12px;
  align-items: center;
}

.footer_bottom div:last-child{
  display: flex;
  color: #555f62;
  gap:35px;
  font-size: 12px;
}

.menu_trigger img{
  
  filter: invert(100%) brightness(100%) contrast(100%);
}

.menu_trigger {
  position: fixed;
  bottom: 40px;
  right: 25px;
  width: 56px;
  height: 56px;
  background-color: #424a4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}

.icon-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.menu_trigger:hover{
  filter: brightness(100%);
}

.menu_trigger .open-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu_trigger .close-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 24px;
  height: 24px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu_trigger.active .open-icon {
  opacity: 0;
  transform: scale(0.8);
}

.menu_trigger.active .close-icon {
  opacity: 1;
  transform: scale(1);
}

.menu_trigger_circles {
  position: fixed;
  bottom: 110px; 
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; 
  z-index: 998;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; 
}

.menu_trigger_circles.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.menu_trigger.active + .menu_trigger_circles {
  display: flex;
}

.circle{
  width: 56px;
    height: 56px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #eef1f1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background-color .25s ease-in-out;
    display: flex;
}

.circle:hover{
  background-color:#3295ce;
}

.circle_hover img{ 
  border-radius: 100%;
}

.callCenter_icon-hover{
  display: none;
}

.circle_hover:hover .callCenter_icon-hover{
  display: block;
  
}

.circle_hover:hover .callCenter_icon{
  display: none;
}

.menu_trigger_circles div:first-child:hover img,
.menu_trigger_circles div:last-child:hover img{
  filter: invert(100%) brightness(100%) contrast(100%);
}


/*dropdown */

.dropdown-container {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 700;
  color: #555f62;
  height: 36px;
  gap: 4px;
  font-size: 14px;
}

.dropdown-selected:hover{
  background-color: rgb(240, 240, 240);
  transition: 0.6s;
}

.dropdown-selected img.dropdown-arrow {
  order: -1;
  width: 16px;
  height: 16px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  font-weight: 500;
  color: #555f62;
  text-align: center;
}

.dropdown-option {
  padding: 8px 12px;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown-options {
  display: block;
}

.menu-icon {
  margin  : 20px auto;
  width   : 20px;
  height  : 16px;
  cursor  : pointer;
  position: relative;
  display: none;
}

.menu-icon span {
  background-color: #555f62;
  height          : 2px;
  position        : absolute;
  width           : 100%;
  left            : 0;
  transition      : all 0.3s ease;
  border-radius   : 15px;
}

.menu-icon >span:first-child{
  width: 50%;
}

.menu-icon >span:last-child{
  width: 70%;
}

.menu-icon:hover .f_line,
.menu-icon:hover .l_line{
  width: 100%;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 6px;
}

.menu-icon span:last-child {
  top: 12px;
}

.menu-icon:hover span:nth-child(2) {
  opacity: 0;
}

.menu-icon:hover span:first-child,
.menu-icon:hover span:last-child {
  top             : 6px;
}

.menu-icon:hover span:first-child {
  transform: rotate(45deg);
}

.menu-icon:hover span:last-child {
  transform: rotate(-45deg);
}

.download_button{
  padding: 16px 32px;
  
  display: none;
}

.download_button p{
  color: #182cc0;
}

.footer_dropdown img{
  display: none;
}

.social_icons img,
.visible img{
  display: flex;
  width: 16px;
  height: 16px;
  
}

/* styles.css */

.cookie {
  z-index: 90;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 66px;
  left: 0;
  right: 0;
}

.cookie-popup {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 24px 32px;
  font-size: 14px;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, .07);
}

.cookie-popup a {
  display: flex;
  gap: 6px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.4;
  color: #182cc0;
}

.cookie-popup p {
  margin-top: 2px;
}

.cookie-popup a img {
  filter: invert(19%) sepia(98%) saturate(4700%) hue-rotate(236deg) brightness(74%) contrast(105%);
}

.cookie-popup.show {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

.menu-icon {
  display: none !important;
}
@media (max-width: 991px) {
  .menu-icon {
    display: block !important;
  }
}

.overlay {
  position: fixed;
  top: 79px;
  left: 0;
  width: 100%;
  height: calc(100vh - 79px);
  background-color: white;
  z-index: 1000;
  display: none;
  opacity: 0; 
  overflow-y: auto;
  transition: opacity 0.3s ease;
}

.overlay.show {
  display: block;
  opacity: 1;
}

.dropdown {
  padding: 32px 45px;
  border-bottom: 1px solid #d1d5d6;
}

.dropdown-title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-title::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('./Icons/arrow-up-337-svgrepo-com.svg') no-repeat center center;
  background-size: contain;
  transition: transform 0.3s;
  position: absolute;
  right: 0;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown-content a:first-child {
  margin-top: 20px;
}

.dropdown.open .dropdown-title::after {
  transform: rotate(180deg);
}

.dropdown.open .dropdown-content {
  max-height: 200px;
}

.dropdown-content a {
  padding-right: 47px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  color: #555f62;
}

.dropdown-content a:hover {
  color: #ddd;
}

.footer_dropdown_col_header {
  padding: 32px 45px;
}

.header_dropdown_heading {
  font-size: 24px;
  border: none;
}

.visible_header {
  gap: 32px !important;
}

.social_icons_header {
  gap: 15px !important;
}

.social_icons_header div {
  width: 52px !important;
  height: 52px !important; 
}

.footer_dropdown_header h4 {
  font-size: 24px;
}

.footer_dropdown_col_header > div:last-child {
  gap: 24px;
}

.footer_bottom_header{
  background-color: #f9fafa;
  border-top: 1px solid #eef1f1;
  padding: 32px 45px;
  margin: 0;
  display: flex;
  gap: 32px;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_bottom_header a,
.footer_bottom_header p{
  font-size: 14px;
}



/* @media queries */

@media screen and (min-width: 1440px){
  .get-app_container > div {
    gap: 24px;
  }
  .main_banner{
    padding: 95px;
  }
  .main_banner h3{
    font-size: 28px;
  }
  .main_banner p{
    font-size: 16px;
    max-width: 540px;
  }
  .main_container>p{
    font-size: 36px;
  }
  .get-app_container p{
    font-size: 16px;
  }
  nav ul{
    font-size: 16px;
  }
  .footer_dropdown a{
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  nav ul {
    gap: 12px;
  }
  
}

@media (max-width: 991px) {
  .search-link-multiLang_container{
    gap: 16px !important;
  }

  header,
  .main_container,
  .get_app,
  footer{
    padding-left: 45px;
    padding-right: 45px;
  }

  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .f_lang {
    display: none;
  }

  .main_banner {
    padding: 240px 45px 36px;
    margin-bottom: 50px;
  }

  .main_container > p {
    font-size: 32px;
    padding: 50px 0;
  }

  .main_container > h2 {
    margin-top: 50px;
  }

  .main_numbers {
    flex-direction: column;
    padding: 50px 0;
  }

  .main-card-content {
    margin-bottom: 50px;
  }

  .swiper_title {
    margin-top: 50px;
  }

  .download_button {
    display: flex;
    max-width: 160px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    border: 1px solid #182cc0;
    align-items: center;
    gap: 4px;
  }

  .app_download a {
    display: none;
  }

  .get-app_container a {
    border: 1px solid #182cc0;
  }
  
  .swiper-container{
    overflow-x: visible;
  }

  .main_banner div{
    gap: 20px;
  }

  .get_app{
    padding-top: 50px;
  }

  .card{
    padding: 24px;
  }

  .get-app_container p{
    font-size: 14px;
  }

  .get-app_container p:last-child{
    font-size: 12px;
    font-weight: 700;
  }

  .swiper-slide{
    margin-right: 15px !important;
  }
  }

@media (max-width: 1070px) {

  nav ul {
    gap: 15px;
    margin-left: 30px;
    margin-right: 15px;
  }

  .search-link-multiLang_container{
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .swiper-slide_sec{
    min-height: 232px !important;
  }
  .swiper-slide_sec p{
    font-weight: 700;
  }
  .main_banner{
    margin-left: -45px;
    margin-right: -45px;
  }

  .banner_II{
    width: 130%;
    margin-left: -45px;
  }

  .banner_II a{
    margin-right: 85px;
  }

  .sec_main_container{
    padding-left: 45px;
    padding-right: 45px;
}

  .get-app_container > div:first-child{
    width: 100%;
  }

  .get-app_container h5{
    margin: 0;
  }

  .offer_cont{
    display: flex;
    position: relative;
    height: 126px;
  }

  .swiper-wrapper >div{
    min-height: 285px;
  }

  .offer_cont img{
    max-height: 126px ;
    position: absolute;
    top: 0;
  }

  .card_content p{
    margin-bottom: 4px;
    color: rgb(0, 0, 0) ;
  }

  .swiper_title{
    margin-top: 40px;
    margin-bottom: 28px; 
  }

  .card_content{
    padding: 20px;
    gap: 12px;
  }


  .main-card-content{
    display: none;
  }

  .main-card-content_slider{
    display: flex ;
    padding-left: 0px ;
  }

  .main_container > p{
    font-size: 28px;
  }

  .main_banner p{
    max-width: 100%;
    margin-right: 45px;
  }

  .header,
  .footer_top,
  main {
    padding-left: 0;
    padding-right: 0;
  }

  .main_container > span {
    padding: 24px 45px;
  }

  .main_banner {
    border-radius: 0;
  }

  .main_banner a {
    max-width: 100%;
  }

  .get-app_container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .get-app_container h5 {
    font-size: 24px;
    display: block;
  }

  .get-app_container h2 {
    display: none;
  }

  .download_button {
    max-width: 100%;
    justify-content: center;
  }

  .get-app_container > div {
    gap: 28px;
  }

  .title {
    display: none;
  }

  .logo {
    width: 46px;
    height: 42px;
  }

  .dropdown-selected {
    font-size: 14px;
  }

  .main-card-content {
    display: flex;
    flex-direction: column; 
    padding-left: 45px;
    padding-right: 45px;
    gap: 20px;
  }

  .main-card-content{
    display: none;
  }

  .main_container > h2 {
    margin-top: 40px;
    margin-bottom: 28px;
  }

  .main-card-content_item-1,
  .main-card-content_item-2,
  .main-card-content_item-3 {
    height: auto;
  }
}
.swiper-container {
  width: 100%;
  max-width: 1110px;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex: 0 0 auto; 
  width: auto;
}

body, main {
  overflow-x: hidden;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: auto;
  transition: transform 0.5s ease;
}

.footer_dropdown .footer_links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_dropdown.open .footer_links {
  max-height: 200px;
}

.footer_dropdown.open .arrow {
  transform: rotate(180deg);
}


@media (max-width: 768px) {
  .footer_dropdown h4 {
      cursor: pointer;
  }

  .footer_dropdown_col h4 {
      cursor: default;
  }

  .footer_dropdown_col .footer_links {
      display: flex;
  }

  .footer_main{
    flex-direction: column;
  }

  .footer_dropdown h4{
    font-size: 24px;
    padding: 36px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_dropdown{
    border-bottom: 1px solid #d1d5d6;
  }

  .footer_dropdown_col> div:last-child{
    border: none;
  }

  .footer_dropdown{
    gap: 0;
  }

  .footer_top{
    border-bottom: 1px solid #d1d5d6;
    padding-left: 45px;
    padding-right: 45px;
  }

  .footer_dropdown_col > div:last-child>div{
    padding-left: 40px;
    padding-right: 45px;
    gap: 15px;
  }

  footer{
    padding-left: 0;
    padding-right: 0;
  }

  .footer_dropdown img{
    display: block;
  }

  .footer_main{
    gap: 0;
  }

  .contact{
    padding: 0 !important;
    margin-bottom: 32px;
  }

  .no_border{
    border: none !important;
    padding: 0 45px;
    padding-bottom: 120px;
    margin-top: 32px;
  }

  .footer_bottom{
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
  }

  .footer_links{
    padding-left: 45px;
    padding-right: 45px;
    gap: 24px !important;
  }

  .visible{
    overflow: visible !important;
    padding-left: 0;
  }

  .visible a{
    font-size: 16px !important;
  }

  .footer_links a:last-child{
    margin-bottom: 36px;
  }

  .footer_dropdown_col > div:last-child>div{
    margin-bottom: 54px;
  }

  .footer_bottom{
    gap: 32px;
  }

  .offer_card-content{
    min-height: 210px;
  }

  .social_icons_header {
    padding-left: 0 !important;
    padding-top: 0 !important;
    }
    .footer_dropdown_header h4{
      padding-top: 20px !important;
      padding: 0;
    }
    .no_border_header{
      padding-left: 0;
      margin-top: 0;
    }
    .footer_dropdown_col_header > div:last-child>div {
      margin-bottom: 0;
    }
}

@media (min-width: 767px) {
  .footer_dropdown .footer_links {
    max-height: none;
  }
}

@media (max-width: 479px) {
  .banner_II{
    width: 120%;
    margin-left: -45px;
  }

  .banner_II a {
    margin-right: 0;
  }

  .sec_main_container,
  .main_container{
    padding-left: 15px;
    padding-right: 15px;
  }

  header{
    padding-left: 15px;
      padding-right: 15px;
  }

  .search-link-multiLang_container a{
    font-size: 12px;
  }

  .main_container > span {
    padding: 24px 45px;
  }

  .main_container >div:first-child{
    padding: 16px 15px;
  }

  .main_banner{
    margin-bottom: 36px;
  }

  .main_banner h3{
    font-size: 16px;
  }

  .main_container > p{
    font-size: 24px;
    padding-right: 15px;
  }

  .main_container > h2{
          padding-right: 15px;
          margin-top: 36px;
          margin-bottom: 20px;
          font-size: 14px;
  }

  .main-card-content_slider{
    margin-bottom: 0;
  }

  .main-card-content_slider_container{
    margin-bottom: 36px;
  }

  .card_content{
    padding: 24px;
  }

  .swiper-wrapper >div{
    min-height: 232px;
  }

  .card_content p{
    font-size: 12px;
  }

  .card_content h3{
    font-size: 16px;
  }

  .main_numbers{
    gap: 16px;
    padding: 36px 0px;
  }

  .main_numbers > div{
    padding: 24px;
  }

  .numbers_item span{
    font-size: 36px;
  }

  .numbers_item p{
    font-size: 14px;
  }

  h2{
    font-size: 14px;
  }

  .swiper_title p{
    font-size: 12px;
  }

  .swiper_title{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .footer_bottom div:last-child{
    gap: 30px;
  }

  .offer_cont img,
  .offer_cont{
    max-height: 212px !important ;
    height: 212px !important;
  }

  .swiper-wrapper{
    margin-bottom: 20px;
  }

  .get_app{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 36px;
    padding-top: 32px;
    margin-bottom: 32px;
  }

  .get-app_container,
  .get-app_container > div {
    padding: 0;
    gap:24px ;
    margin: 0;
  }

  .get-app_container img{
    max-height:none;
  }

  .get-app_container h5{
    margin: 0;
  }

  .products_cont h2{
    font-size: 14px;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .products_cont{
    margin-bottom: 36px;
  }

  .card_content h3{
    font-size: 14px;
  }

  .awards_section >div img{
    margin-bottom: 16px;
  }

  .card_content p{
    font-size: 12px;
  }

  .card_content{
    height: fit-content;
  }
  .offer_card-content{
    min-height: 165px;
  }

  .footer_top{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 32px;
    padding-bottom: 32px
  }

  .footer_lang{
    padding: 0px 12px;
  }

  .footer_dropdown h4{
    padding: 24px 15px;
    font-size: 16px;
  }

  .footer_links{
    padding:  0 14px;
    gap: 16px !important;
  }

  .footer_links a:last-child{
    margin-bottom: 24px;
  }

  .no_border{
    margin-top: 32px;
    padding: 32px 15px;
    padding-bottom: 120px;
  }

  .visible{
    padding: 0;
    margin-bottom: 20px;
  }

  .footer_dropdown_col > div:last-child>div{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
  }

  .footer_dropdown_col > div:last-child>div>div{
    width: 52px;height: 52px;
    margin-bottom:32px;
  }

  .footer_bottom{
    background-color:#f9fafa ;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    gap: 24px;
    padding-top: 24px;
          
  }

  .footer_bottom div a,
  .footer_bottom div p {
    font-size: 14px;
  }

  .footer_dropdown{
    border-color:#edefef ;
  }

  .left_arrow{
    display: block;
  }

  .footer_dropdown_col_header,
  .dropdown,
  .footer_bottom_header {
    padding: 32px 15px;
  }
}

